# Assignment 2

For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [assets/NISPUF17.csv](assets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [assets/NIS-PUF17-DUG.pdf](assets/NIS-PUF17-DUG.pdf). **Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).**

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

Test Codes

In [118]:
import pandas as pd
df = pd.read_csv(r'C:\Users\HP\Python Course from Coursera\Assignments\Assignment 2\Assets\NISPUF17.csv', index_col=0)
df.head()

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [119]:
df.columns

Index(['SEQNUMC', 'SEQNUMHH', 'PDAT', 'PROVWT_D', 'RDDWT_D', 'STRATUM', 'YEAR',
       'AGECPOXR', 'HAD_CPOX', 'AGEGRP',
       ...
       'XVRCTY2', 'XVRCTY3', 'XVRCTY4', 'XVRCTY5', 'XVRCTY6', 'XVRCTY7',
       'XVRCTY8', 'XVRCTY9', 'INS_STAT2_I', 'INS_BREAK_I'],
      dtype='object', length=453)

In [120]:
education_of_the_mother = df['EDUC1']
education_of_the_mother

1        4
2        3
3        3
4        4
5        1
        ..
28461    3
28462    2
28463    3
28464    2
28465    4
Name: EDUC1, Length: 28465, dtype: int64

In [121]:
import numpy as np
education_of_the_mother = np.sort(education_of_the_mother)
education_of_the_mother

array([1, 1, 1, ..., 4, 4, 4], dtype=int64)

In [122]:
proportion_of_education = {"less than high school":0, 
                           "high school":0,
                           "more than high school but not college":0,
                           "college":0}

In [123]:
# Calculate the total number of children
total_children = len(education_of_the_mother)
    
# Calculate the proportions for each education category and order them
proportion_of_education["less than high school"]=np.sum(education_of_the_mother == 1)/total_children
proportion_of_education["high school"]=np.sum(education_of_the_mother == 2)/total_children
proportion_of_education["more than high school but not college"]=np.sum(education_of_the_mother == 3)/total_children
proportion_of_education["college"]=np.sum(education_of_the_mother == 4)/total_children

proportion_of_education

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

Function is Written Here

In [124]:
def proportion_of_education():
    import pandas as pd
    import numpy as np
    #import the csv file
    df = pd.read_csv(r'C:\Users\HP\Python Course from Coursera\Assignments\Assignment 2\Assets\NISPUF17.csv', index_col=0)
    
    # sorting education of the mother
    education_of_the_mother = df['EDUC1']
    education_of_the_mother_sorted = np.sort(education_of_the_mother)
    
    #creating a dictionary 
    propedu = {"less than high school":0, "high school":0,
                           "more than high school but not college":0,
                           "college":0}
    
    # Calculate the total number of children
    total_children = len(education_of_the_mother_sorted)
    
    # Calculate the proportions for each education category and order them
    propedu["less than high school"]=np.sum(education_of_the_mother_sorted == 1)/total_children
    propedu["high school"]=np.sum(education_of_the_mother_sorted == 2)/total_children
    propedu["more than high school but not college"]=np.sum(education_of_the_mother_sorted == 3)/total_children
    propedu["college"]=np.sum(education_of_the_mother_sorted == 4)/total_children

    propedu = dict(sorted(propedu.items()))
    return propedu  
    
proportion_of_education()

{'college': 0.47974705779026877,
 'high school': 0.172352011241876,
 'less than high school': 0.10202002459160373,
 'more than high school but not college': 0.24588090637625154}

In [125]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

Test Codes

In [126]:
import pandas as pd
df = pd.read_csv(r'C:\Users\HP\Python Course from Coursera\Assignments\Assignment 2\Assets\NISPUF17.csv', index_col=0)
df.head()

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [127]:
child_ever_fed_breast_milk =  df ['CBF_01']
child_ever_fed_breast_milk.unique()

array([ 1,  2, 99, 77], dtype=int64)

In [128]:
chifedbrem_flu = df.loc[:, ['CBF_01', 'P_NUMFLU']]
chifedbrem_flu

       CBF_01  P_NUMFLU
1           1       NaN
2           2       NaN
3           2       NaN
4           2       3.0
5           1       0.0
...       ...       ...
28461       2       NaN
28462       1       NaN
28463       1       NaN
28464       2       NaN
28465       1       NaN

[28465 rows x 2 columns]

In [129]:
chifedbrem_flu1 = chifedbrem_flu[chifedbrem_flu['CBF_01'] == 1].dropna()
chifedbrem_flu2 = chifedbrem_flu[chifedbrem_flu['CBF_01'] == 2].dropna()

In [130]:
#Child who got influenza vaccine and recieved breast milk
chifedbrem_flu1

       CBF_01  P_NUMFLU
5           1       0.0
7           1       0.0
8           1       0.0
9           1       0.0
11          1       3.0
...       ...       ...
28439       1       3.0
28441       1       0.0
28447       1       2.0
28450       1       4.0
28455       1       0.0

[13291 rows x 2 columns]

In [131]:
#Child who got influenza vaccine but did not receive breast milk
chifedbrem_flu2

       CBF_01  P_NUMFLU
4           2       3.0
23          2       0.0
29          2       3.0
30          2       3.0
77          2       2.0
...       ...       ...
28394       2       1.0
28398       2       4.0
28426       2       1.0
28448       2       1.0
28453       2       2.0

[1997 rows x 2 columns]

In [132]:
#Average number of influenza vaccines for those children who received breast milk
flu1 = chifedbrem_flu1['P_NUMFLU'].values.copy()
flu1[np.isnan(flu1)] = 0
f1 = np.sum(flu1)/len(flu1)
f1

1.8799187420058687

In [133]:
#Average number of influenza vaccines for those children who did not receive breast milk
flu2 = chifedbrem_flu2['P_NUMFLU'].values.copy()
flu2[np.isnan(flu2)] = 0
f2 = np.sum(flu2)/len(flu2)
f2

1.5963945918878317

In [134]:
#returned tuple
t = (f1, f2)
t

(1.8799187420058687, 1.5963945918878317)

Function is Written Here

In [135]:
def average_influenza_doses():
    #raise NotImplementedError()
    import pandas as pd
    import numpy as np
    df = pd.read_csv(r'C:\Users\HP\Python Course from Coursera\Assignments\Assignment 2\Assets\NISPUF17.csv', index_col=0)
    # YOUR CODE HERE
    chifedbrem_flu = df.loc[:, ['CBF_01', 'P_NUMFLU']]

    chifedbrem_flu1 = chifedbrem_flu[chifedbrem_flu['CBF_01'] == 1].dropna()
    chifedbrem_flu2 = chifedbrem_flu[chifedbrem_flu['CBF_01'] == 2].dropna()
    
    flu1 = chifedbrem_flu1['P_NUMFLU'].values.copy()
    flu1[np.isnan(flu1)] = 0
    f1 = np.sum(flu1)/len(flu1)

    flu2 = chifedbrem_flu2['P_NUMFLU'].values.copy()
    flu2[np.isnan(flu2)] = 0
    f2 = np.sum(flu2)/len(flu2)

    t = (f1, f2)
    return t

average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

In [136]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

Test Codes

In [137]:
import pandas as pd
df = pd.read_csv(r'C:\Users\HP\Python Course from Coursera\Assignments\Assignment 2\Assets\NISPUF17.csv', index_col=0)
df.columns

Index(['SEQNUMC', 'SEQNUMHH', 'PDAT', 'PROVWT_D', 'RDDWT_D', 'STRATUM', 'YEAR',
       'AGECPOXR', 'HAD_CPOX', 'AGEGRP',
       ...
       'XVRCTY2', 'XVRCTY3', 'XVRCTY4', 'XVRCTY5', 'XVRCTY6', 'XVRCTY7',
       'XVRCTY8', 'XVRCTY9', 'INS_STAT2_I', 'INS_BREAK_I'],
      dtype='object', length=453)

In [138]:
cpox_vrc = df.loc[:,['HAD_CPOX', 'P_NUMVRC', 'SEX']]

cpox_sex = cpox_vrc[cpox_vrc['P_NUMVRC'].gt(0)].loc[:,['HAD_CPOX', 'SEX']]
cpox_sex

       HAD_CPOX  SEX
4             2    2
7             2    2
11            2    1
13            2    1
17            2    1
...         ...  ...
28447         2    2
28448         2    1
28450         2    1
28453         2    2
28455         2    2

[13995 rows x 2 columns]

In [139]:
cpox_sex = df[df['P_NUMVRC'].gt(0) & df['HAD_CPOX'].lt(3)].loc[:,['HAD_CPOX', 'SEX']].dropna()

In [140]:
np.min(cpox_sex.values[:,0])

1

In [141]:
# Male = 1, Female = 2
cpo1_sex1 = len(cpox_sex[(cpox_sex['HAD_CPOX']==1) & (cpox_sex['SEX']==1)])
cpo1_sex2 = len(cpox_sex[(cpox_sex['HAD_CPOX']==1) & (cpox_sex['SEX']==2)])
cpo2_sex1 = len(cpox_sex[(cpox_sex['HAD_CPOX']==2) & (cpox_sex['SEX']==1)])
cpo2_sex2 = len(cpox_sex[(cpox_sex['HAD_CPOX']==2) & (cpox_sex['SEX']==2)])

Function is Written Here

In [142]:
def chickenpox_by_sex():
    # YOUR CODE HERE
    # raise NotImplementedError()
    import pandas as pd
    import numpy as np
    df = pd.read_csv(r'C:\Users\HP\Python Course from Coursera\Assignments\Assignment 2\Assets\NISPUF17.csv', index_col=0)
    
    cpox_sex = df[df['P_NUMVRC'].gt(0) & df['HAD_CPOX'].lt(3)].loc[:,['HAD_CPOX', 'SEX']]
    # Male = 1, Female = 2
    cpo1_sex1 = len(cpox_sex[(cpox_sex['HAD_CPOX']==1) & (cpox_sex['SEX']==1)])
    cpo1_sex2 = len(cpox_sex[(cpox_sex['HAD_CPOX']==1) & (cpox_sex['SEX']==2)])
    cpo2_sex1 = len(cpox_sex[(cpox_sex['HAD_CPOX']==2) & (cpox_sex['SEX']==1)])
    cpo2_sex2 = len(cpox_sex[(cpox_sex['HAD_CPOX']==2) & (cpox_sex['SEX']==2)])

    cbs = {"male":0,
       "female":0}

    cbs['male'] = cpo1_sex1/cpo2_sex1
    cbs['female'] = cpo1_sex2/cpo2_sex2
    return cbs

chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [143]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more no’s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [144]:
def corr_chickenpox():
    #raise NotImplementedError()
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    # this is just an example dataframe
    # df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
    #               "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

    df = pd.read_csv(r'C:\Users\HP\Python Course from Coursera\Assignments\Assignment 2\Assets\NISPUF17.csv', index_col=0)

    df = df[df['HAD_CPOX'].lt(3)].loc[:, ['HAD_CPOX', 'P_NUMVRC']].dropna()
    df.columns = ['had_chickenpox_column', 'num_chickenpox_vaccine_column']

    # here is some stub code to actually run the correlation
    corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])
    
    # just return the correlation
    return corr

corr_chickenpox()

0.07044873460148

In [145]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."