# The Python Programming Language: Objects and map()

An example of class in Python:

In [4]:
class Person:
    department = 'Mathematics'

    def set_name(self, new_name):
        self.name = new_name 

    def set_location(self, new_location):
        self.location = new_location

In [6]:
person = Person()
person.set_name('Harry Maguire')
person.set_location('Harvard University')
print('{} went to {} in 1965 and failed in {}.'.format(person.name, person.location, person.department))

Harry Maguire went to Harvard University in 1965 and failed in Mathematics.

Here's an example of mapping the `min` function between two lists.

`Map` creates an iterator that computes the function using arguments from each of the iterables. Stops when the shortest iterable is exhausted.

In [30]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

# The Python Programming Language: Lambda and List Comprehensions

Here's an example of lambda that takes in three parameters and adds the first two.

In [31]:
my_function = lambda a, b, c: a + b
my_function(1, 2, 3)

3

Let's iterate from 0 to 50 and return the even numbers.

In [34]:
my_list = []
for number in range(0, 50):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

Now the same thing but with list comprehension.

In [37]:
my_list = [number for number in range(0, 10) if number % 2 == 0]
my_list

[0, 2, 4, 6, 8]

Another example of list comprehension:

In [42]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True