Python Programming: Types and Sequences

In [1]:
x = [1, 'a', 2, 'b']
type(x)

list

In [2]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [3]:
for item in x:
    print(item)

1
a
2
b
3.3

In [4]:
i = 0
x = [1, 'a', 2, 'b', 3.3, 'h']
while (i != len(x)):
    print(x[i])
    i = i + 1

1
a
2
b
3.3
h

Use the `in` operator to check if something is inside a list.

In [5]:
1 in [1, 2, 3]

True

Now, let's look at strings. Use bracket notation to `slice` a string.

In [15]:
x = "This is a string"
print(x[0])
print(x[0:5])
print(x[0:2])
print(x[-1])
print(x[-4:-1])
print(x[:3])

T
This
Th
g
rin
Thi

In [19]:
firstname = "Sumon"
middlename = "Kanti"
lastname = "Das"

print(firstname + " " + middlename + " " + lastname)
print(firstname + " slept till 12 pm today!")

Sumon Kanti Das
Sumon slept till 12 pm today!

`split` returns a list of all the words in a string, or a list split on a specific character. This is called Regular Expression Evaluation.

In [21]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]  # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]  # [-1] selects the last element of the list
print(firstname + " " + lastname)

Christopher Brooks

Dictionaries associate keys with values.

In [22]:
x = {'Jahangirnagar University': 'juniv.edu', 'Dhaka University': 'du.edu'}
x['Dhaka University']

'du.edu'

Iterate over all of the keys.

In [26]:
for name in x:
    print(x[name])

juniv.edu
du.edu

Iterate over all of the values.

In [34]:
for email in x.values():
    print(email)

juniv.edu
du.edu

Iterate over all of the items in the list.

In [32]:
for name, email in x.items():
    print (name + " : " + email)

Jahangirnagar University : juniv.edu
Dhaka University : du.edu

Unpacking a sequence into different variables.

In [37]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [38]:
fname

'Christopher'

In [39]:
lname

'Brooks'

Make sure the number of values you unpacked matches the number of variables being assigned. Otherwise, it'll give a `ValueError`.

For convenient formatting of strings, `Python` has built in methods.

In [40]:
sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96